.heading{
  font-size: 24px;
  color: red;
  font-weight: bold;
}

.sub-heading{
  font-size: 18px;
  color: blue;
}

.header{
  border: 2px solid red;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.body{
  border: 2px solid;
  height: 86vh;
  display: flex;
  flex-direction: row;
}

.sidebar{
  border: 2px solid blue;
  width: 20%;
}

.content{
  border: 2px solid red;
  width: 80%;
}

.custom-button{
  text-decoration: none;
  border: 1px solid;
  font-size: 24px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  background-color: black;
}

.button-space{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.active-button{
  background-color: blue;
}

.label{
    font-size: 18px;
    display: inline-block;
    width: 175px;
}

.input{
  font-size: 18px;
  width: 250px;
  margin-right: 10px;
}

.m-bottom-8{
  margin-bottom: 8px;
}

.w-25{
  width: 25px;
}

.icon-align{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error-msg{
  color : red;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.dp-image{
  width: 40px;
  border-radius: 50px;
}

.input-border{
  height: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
}
.input-border:focus{
  height: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
}